@use 'sass:color';
.button {
  border-radius: 0.2rem;
  border: 2px solid var(--vt-c-green);
  padding: 1rem 1.5rem;
  background-color: var(--vt-c-green);
  color: var(--vt-c-white-soft);
  text-transform: uppercase;
  outline: 2px solid var(--vt-c-green);

  &:focus {
    outline: 2px solid color.scale(#019161, $lightness: -20%);
  }

  
}