@import './base.scss';

$green: rgba(1, 145, 97, 0.966);

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 3rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: $green;
  transition: 0.4s;
  padding: 3px;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

.transition-in-out {
  transition: 0.25s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
